.style1, .style3 {
  p {
    margin-bottom: .6em;
  }
}

table {
  th {
    min-width: 180px;
  }
  td {
    ol {
      margin: 0.2em 0.5em;
    }
  }
  @include breakpoint(large) {
    th {
      min-width: 150px;
    }
  }
  @include breakpoint(medium) {
    th {
      min-width: 120px;
    }
  }
  @include breakpoint(small) {
    th {
      min-width: 90px;
    }
  }
}

.rules {
  section {
    margin-bottom: 2em;
  }
  p {
    margin-bottom: 1em;
  }
  table {
    caption {
      margin-bottom: .5em;
    }
    th {
      padding: 0.75em;
    }
    ul {
      margin-bottom: 0;
    }
  }
  ol {
    padding-left: 2em;
  }
}
