.style1, .style3 {
  p {
    margin-bottom: .6em;
  }
}

table {
  th {
    min-width: 180px;
  }
  @include breakpoint(large) {
    th {
      min-width: 150px;
    }
  }
  @include breakpoint(medium) {
    th {
      min-width: 120px;
    }
  }
  @include breakpoint(small) {
    th {
      min-width: 90px;
    }
  }
}